/* Max 980px */
@media screen and (max-width: 986px) {

.left-bar {
    width: 40%;
    justify-content: start;
}
.right-bar {
    width: 55%;
}
.header-nav {
    padding: 10px 0px;
}
.header-nav-content {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.logo {
    justify-content: start;
    width: 50%;
    order: 0;
}
.search {
    justify-content: center;
    width: 100%;
    order: 2;
    margin-top: 20px;
}
.buy {
    width: 25%;
    order: 1;
}
.nav {
    width: 100%;
    justify-content: center;
}
.navbar {
    display: flex;
    width: 15%;
    align-items: center;
}
.nav-menu {
    display: none;
}
.call-us {
    width: 40%;
}
.main-content {
    width: 80%;
    margin: 0 auto;
}
.aside-bar {
    display: none;
}
.container {
    margin-left: 0px;
}
.gallery-container {
    justify-content: space-around;
    width: 100%;
}
.gallery-item {
    padding-bottom: 20px;
}
.new-smart-item {
    width: 100%;
}
.brand-container {
    width: 100%;
}
}









/* Max 520px */
@media screen and (max-width: 520px) {
.top-bar-content {
    display: flex;
    flex-direction: column;
    min-height: 50px;
    justify-content: center;
    width: 100%;
}
.right-bar {
    justify-content: center;
    flex-wrap: wrap;
}
.nav {
    width: 100%;
    justify-content: center;
}
.navbar {
    display: block;
}
.nav-menu {
    display: none;
}
.call-us {
    width: 40%;
}
.departments {
    width: auto;
}
.main-content {
    width: 90%;
    margin: 0 auto;
}
.aside-bar {
    display: none;
}
.container {
    margin-left: 0px;
}
.new-smart-item,
.new-smart {
    width: 100%;
}
}